# Neon Database
# Pooled connection (used by the application)
DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require&channel_binding=require"

# Direct connection (used for Prisma migrations)
DIRECT_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require&channel_binding=require"

# Provided by Auth.js
AUTH_SECRET="123456789"

#Provided by Github
AUTH_GITHUB_ID="3312312312"
AUTH_GITHUB_SECRET="32132132123"